
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
	padding:none;
	margin:none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;

}

.carousel-inner{
	background-color: rgb(60,60,60);
	max-height:550px;
}
.carousel-caption {
 top: 50%;
transform: translateY(-50%);
text-shadow: 2px 2px rgb(10,10,10);
}
.carousel-item{
	bottom:initial;
	-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}
.sobre{
	margin-top:1px;
	min-height: 500px;
	border-bottom:30px solid #3a321a;
	border-left: 50px solid transparent;
}

.texto-sobre:before{
	content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.areas{
	background-color:#3a321a;
	padding-top:10px;
	padding-bottom:50px;
}
.border-areas{
	border-left: 1px solid #f8f9fa;
	border-right: 1px solid #f8f9fa;
}
.contato{
	border-top:50px solid #3a321a;
	border-right:50px solid #79554800;
	background-color:#f8f9fa;
}
/*PACE*/
  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .pace-inactive {
    display: none;
  }

  .pace .pace-progress {
    background: rgb(60,60,60);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
/* / PACE*/

